@using ConcessionariaAPP.Domain.Enum
@using ConcessionariaAPP.Models.VehicleViewModel
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model VehicleViewModel

@{
    ViewData["Title"] = "Vehicle Form";
    var action = ViewData["Action"] as string ?? "Create";
}

<form id="modalForm" asp-action="@action" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="VehicleId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Model" class="form-label"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ManufacturingYear" class="form-label"></label>
        <input asp-for="ManufacturingYear" class="form-control" />
        <span asp-validation-for="ManufacturingYear" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ManufacturerId" class="form-label"></label>
        <select asp-for="ManufacturerId" asp-items="ViewBag.Manufacturers"  class="form-select">
            <option value="">Selecione o fabricante</option>
        </select>
        <span asp-validation-for="ManufacturerId" class="text-danger"></span>
    </div>
    <div class="mb-3"></div>
        <label asp-for="VehicleType" class="form-label"></label>
        <select asp-for="VehicleType" asp-items="ViewBag.VehicleTypes" class="form-select">
            <option value="">Selecione o tipo de veículo</option>
        </select>
        <span asp-validation-for="VehicleType" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    

</form>