@using ConcessionariaAPP.Models.UserViewModel;
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Register" method="post">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <div>@error.ErrorMessage</div>
                        }
                    </div>
                }
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="AccessLevel" class="form-label"></label>
                    <select asp-for="AccessLevel" class="form-select">
                        @foreach (var item in ViewBag.AccessLevels)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <span asp-validation-for="AccessLevel" class="text-danger"></span>
                </div>
                <div class="float-end">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <a class="btn btn-secondary" asp-action="Login">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>