@using ConcessionariaAPP.Models.ClientViewModel
@model ClientTableViewModel

<div itemid="data-table" id="data-table">
    @if (Model.Rows.Count == 0)
    {
        <div class="alert alert-info" role="alert">
            <p class="lead">Nenhum cliente cadastrado.</p>
        </div>
    }
    else
    {
        
        <table class="table">
            <thead>
                <tr>
                    @foreach (var column in Model.Columns)
                    {
                        <th>@column</th>
                    }
                    <th>Ações</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var row in Model.Rows)
                {
                    <tr>
                        @foreach (var key in Model.Keys)
                        {
                            <td>@row.GetType().GetProperty(key)?.GetValue(row)</td>
                        }
                        <td>
                            <a asp-action="Edit" asp-route-id="@row.GetType().GetProperty("ClientId")?.GetValue(row)" class="btn btn-warning btn-sm" onclick="openEntityModal(this.href, 'Edição de Cliente'); return false;">Editar</a>
                            <a asp-action="Delete" asp-route-id="@row.GetType().GetProperty("ClientId")?.GetValue(row)" class="btn btn-danger btn-sm" onclick="openDeleteModal(this.href, 'Exclusão de Cliente'); return false;">Excluir</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
</div>