@using ConcessionariaAPP.Models.CarDealershipViewModel
@model CarDealershipViewModel

<form id="deleteForm" asp-action="DeleteConfirmed" asp-route-id="@Model.CarDealershipId" method="post">
    <input type="hidden" asp-for="CarDealershipId" />
    <p>Tem certeza que deseja excluir a concessionária <strong>@Model.Name</strong>?</p>
</form>