@using ConcessionariaAPP.Models.SaleViewModel
@model SaleViewModel

<form id="deleteForm" asp-action="DeleteConfirmed" asp-route-id="@Model.ClientId" method="post">
    <input type="hidden" asp-for="ClientId" />
    <p>Tem certeza que deseja excluir o cliente <strong>@Model.SaleProtocol</strong>?</p>
</form>